@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

body {
    font-family: 'Roboto';
}